// Variables
$website-width: 1280px;
$main-color: #9fd4ff;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$bg-image: url(/dist/img/showcase.jpg);

// Set Text Color
@function set-text-color($color) {
  @if(lightness($color) > 50) { // if the lightness of a colour is over 50 have text color black, else text color white
    @return #333;
  } @else {
    @return #fff;
  }
}